{
	"RedisServers":
	[ 
		{
  			"server": "154.17.59.99",
  			"port" : 6379
		},
		
		{
  			"server": "localhost",
  			"port" : 6380,
  			"password" : "some-password"
		}		
	],

	"DataStoreType" : "redis",

	"RedisStatsServer":
	{
		"server" : "ec2-184-72-166-144.compute-1.amazonaws.com",
		"port" : 6385
	},
	
	"SqliteStatsStore" :
	{
		"path":  "to your sql lite file"
	}
}
